.animate-feedback {
    opacity: 1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 400ms;
    animation-name: fadeInOpacity;
    animation-fill-mode: forwards;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}